<h1>Western Cape Registration Numbers</h1>
<div class="container">
<form action="/add" method="POST">
      <input name="regInput" type="text" class="reg_input" id="reg_inputHB" placeholder="eg. CA 797 920" />
      <span class="confirmation" id="confirmationHB">Enter a registration number.</span>
      <input class="add_btn" id="add_btnHB" type="submit" value="Add" />
</form>
<form action="/filter" method="POST">

     
          <p>Filter by town:</p>
      <div class="filter" id="filterHB">
              {{#each town}}
              <input type="checkbox" name="{{this}}" value="{{this}} ">
              <label for="{{this}}">{{this}}</label><br>
              {{/each}}
      </div>
      <input type="submit" value="Filter" />
      <input class="clear_filter_btn" type="submit" formaction="/reset-filter" value="Clear filter" />
<p>{{filterTowns}}</p>
</form>
      <ul class="reg_display_list" id="reg_display_listHB">
          {{#each regNum}}
              <li>{{this}}</li>
          {{/each}}
      </ul>
       <input type="button" value="Reset" />
</div>
